<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
<!--     <p><a class="btn btn-lg btn-success" ng-click="ctrl.getPlaces()">Get Places!</a></p>
 -->
    <p id="getPlaces"> </p>
 </div>

  <div class="row">
    <div ng-repeat="place in ctrl.data">
      {{place.formatted_address}} <span info-details place="place"> </span>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
